<!-- BEGIN imageblock -->
<div class="well">
	<div class="side-segment"><h3>{imageblock.BLOCK_NAME}</h3></div>
	<!-- BEGIN imagerow -->
	<div class="row">
		<!-- BEGIN image -->
		<div class="col-md-3 well well-small">
			<span class="fake-thumb2">{imageblock.imagerow.image.UC_THUMBNAIL}</span>
			<div class="clearfix details-gallery text-overflow">
				<ul class="list-unstyled">
					<!-- IF imageblock.imagerow.image.UC_IMAGE_NAME --><li>{L_IMAGE_NAME}{L_COLON} {imageblock.imagerow.image.UC_IMAGE_NAME}</li><!-- ENDIF -->
					<!-- IF imageblock.imagerow.image.U_ALBUM --><li>{L_ALBUM_NAME}{L_COLON} <a href="{imageblock.imagerow.image.U_ALBUM}" title="{imageblock.imagerow.image.ALBUM_NAME_FULL}">{imageblock.imagerow.image.ALBUM_NAME}</a></li><!-- ENDIF -->
					<!-- IF imageblock.imagerow.image.POSTER --><li>{L_UPLOADED_BY_USER}{L_COLON} {imageblock.imagerow.image.POSTER}</li><!-- ENDIF -->
					<!-- IF imageblock.imagerow.image.TIME --><li>{L_UPLOADED_ON_DATE}{L_COLON} {imageblock.imagerow.image.TIME}</li><!-- ENDIF -->
					<span style="display: none;" id="inserted_{imageblock.S_ROW_COUNT}_{imageblock.imagerow.S_ROW_COUNT}_{imageblock.imagerow.image.S_ROW_COUNT}">[ {L_IMAGE_INSERTED} ]<br /></span>
					<button class="btn btn-default" name="gallery_button" value="{L_INSERT_IMAGE_POST}" onclick="insert_image({imageblock.imagerow.image.IMAGE_ID}, '{imageblock.S_ROW_COUNT}_{imageblock.imagerow.S_ROW_COUNT}_{imageblock.imagerow.image.S_ROW_COUNT}');" title="{L_INSERT_IMAGE_POST}">{L_INSERT_IMAGE_POST}</button>
				</ul>
			</div>
		</div>
		<!-- END image -->
		<!-- BEGIN no_image -->
		<div class="col-md-3 well well-small">
			<span class="fake-thumb2"></span>
		</div>
		<!-- END no_image -->
		</div>
	<!-- END imagerow -->
</div>
<!-- END imageblock -->