<!-- INCLUDE gallery/gallery_header.html -->

<!-- IF S_DISPLAY_SEARCH or (S_USER_LOGGED_IN and not S_IS_BOT) -->
<div class="clearfix">
 <div class="pull-left">
   <div class="btn-group">
            <div class="dropdown">
              <a title="" data-original-title="" class="btn btn-default" data-toggle="dropdown" href="#"><i class="fa fa-folder"></i> Manage <span class="caret"></span></a>
                <ul class="dropdown-menu">
                <!-- IF S_DISPLAY_SEARCH -->
				 <li><a href="{U_G_SEARCH_RECENT}">{L_VIEW_SEARCH_RECENT}</a></li>
				 <li><a href="{U_G_SEARCH_RANDOM}">{L_VIEW_SEARCH_RANDOM}</a></li>
				 <!-- IF U_G_SEARCH_COMMENTED --><li><a href="{U_G_SEARCH_COMMENTED}">{L_VIEW_SEARCH_COMMENTED}</a></li><!-- ENDIF -->
				 <!-- IF U_G_SEARCH_TOPRATED --><li><a href="{U_G_SEARCH_TOPRATED}">{L_VIEW_SEARCH_TOPRATED}</a></li><!-- ENDIF -->
				 <!-- IF U_G_SEARCH_CONTESTS --><li><a href="{U_G_SEARCH_CONTESTS}">{L_VIEW_SEARCH_CONTESTS}</a></li><!-- ENDIF -->
				 <!-- IF S_USER_LOGGED_IN --><li><a href="{U_G_SEARCH_SELF}">{L_VIEW_SEARCH_SELF}</a></li><!-- ENDIF -->
				<!-- ENDIF -->
				<!-- IF not S_IS_BOT and U_MARK_ALBUMS --><li><a href="{U_MARK_ALBUMS}" accesskey="m">{L_MARK_ALBUMS_READ}</a></li><!-- ENDIF -->
			   </ul>
            </div>
    </div>
 </div>
 
 <div class="pull-right">
    <a class="btn btn-default" href="{U_GALLERY_SEARCH}"><i class="fa fa-search"></i> {L_SEARCH}</a>
 </div>
 
</div>
	<div class="space10"></div> 
<!-- ENDIF -->

<!-- IF S_PERSONAL_GALLERY and U_USERS_PERSONAL_GALLERIES -->
    <div class="row">
		<div class="pull-left">
            <ul class="pagination pagination-sm">
				<li><a href="{U_USERS_PERSONAL_GALLERIES}">{L_ALL}</a></li>
				<li><a href="{U_USERS_PERSONAL_GALLERIES}&amp;first_char=a">A</a></li>
				<li><a href="{U_USERS_PERSONAL_GALLERIES}&amp;first_char=b">B</a></li>
				<li><a href="{U_USERS_PERSONAL_GALLERIES}&amp;first_char=c">C</a></li>
				<li><a href="{U_USERS_PERSONAL_GALLERIES}&amp;first_char=d">D</a></li>
				<li><a href="{U_USERS_PERSONAL_GALLERIES}&amp;first_char=e">E</a></li>
				<li><a href="{U_USERS_PERSONAL_GALLERIES}&amp;first_char=f">F</a></li>
				<li><a href="{U_USERS_PERSONAL_GALLERIES}&amp;first_char=g">G</a></li>
				<li><a href="{U_USERS_PERSONAL_GALLERIES}&amp;first_char=h">H</a></li>
				<li><a href="{U_USERS_PERSONAL_GALLERIES}&amp;first_char=i">I</a></li>
				<li><a href="{U_USERS_PERSONAL_GALLERIES}&amp;first_char=j">J</a></li>
				<li><a href="{U_USERS_PERSONAL_GALLERIES}&amp;first_char=k">K</a></li>
				<li><a href="{U_USERS_PERSONAL_GALLERIES}&amp;first_char=l">L</a></li>
				<li><a href="{U_USERS_PERSONAL_GALLERIES}&amp;first_char=m">M</a></li>
				<li><a href="{U_USERS_PERSONAL_GALLERIES}&amp;first_char=n">N</a></li>
				<li><a href="{U_USERS_PERSONAL_GALLERIES}&amp;first_char=o">O</a></li>
				<li><a href="{U_USERS_PERSONAL_GALLERIES}&amp;first_char=p">P</a></li>
				<li><a href="{U_USERS_PERSONAL_GALLERIES}&amp;first_char=q">Q</a></li>
				<li><a href="{U_USERS_PERSONAL_GALLERIES}&amp;first_char=r">R</a></li>
				<li><a href="{U_USERS_PERSONAL_GALLERIES}&amp;first_char=s">S</a></li>
				<li><a href="{U_USERS_PERSONAL_GALLERIES}&amp;first_char=t">T</a></li>
				<li><a href="{U_USERS_PERSONAL_GALLERIES}&amp;first_char=u">U</a></li>
				<li><a href="{U_USERS_PERSONAL_GALLERIES}&amp;first_char=v">V</a></li>
				<li><a href="{U_USERS_PERSONAL_GALLERIES}&amp;first_char=w">W</a></li>
				<li><a href="{U_USERS_PERSONAL_GALLERIES}&amp;first_char=x">X</a></li>
				<li><a href="{U_USERS_PERSONAL_GALLERIES}&amp;first_char=y">Y</a></li>
				<li><a href="{U_USERS_PERSONAL_GALLERIES}&amp;first_char=z">Z</a></li>
				<li><a href="{U_USERS_PERSONAL_GALLERIES}&amp;first_char=other">#</a>
			</ul>
		</div> 
	</div> 	
		<div class="space10"></div> 
<!-- ENDIF -->

<!-- INCLUDE gallery/albumlist_body.html -->

<!-- IF S_PERSONAL_GALLERY -->
	<ul class="pagination pagination-sm pull-left">
		<!-- IF PAGINATION --><li><a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a>  {PAGINATION}</li><!-- ENDIF -->
	   <!-- IF S_USERS_PERSONAL_GALLERIES -->
          <li><a href="{U_USERS_PERSONAL_GALLERIES}">{L_USERS_PERSONAL_ALBUMS}</a></li>
       <!-- ENDIF -->
	</ul>
	
        <ul class="pagination pagination-sm pull-right">
		   <li class="active"><a>{TOTAL_PGALLERIES_SHORT}</a></li>
		   <!-- IF U_YOUR_PERSONAL_GALLERY --><li><a href="{U_YOUR_PERSONAL_GALLERY}">{L_YOUR_PERSONAL_ALBUM}</a></li><!-- ENDIF -->
		</ul>
	
	 <div class="space10"></div> 
<!-- ENDIF -->

<!-- INCLUDE gallery/recent_body.html -->

<!-- IF not S_USER_LOGGED_IN and not S_IS_BOT and S_DISP_LOGIN -->
  <div class="row">
   <div class="side-segment"><h3><a href="{U_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a><!-- IF S_REGISTER_ENABLED -->&nbsp; &bull; &nbsp;<a href="{U_REGISTER}">{L_REGISTER}</a><!-- ENDIF --></h3></div>
    <form method="post" action="{S_LOGIN_ACTION}">
	 <div class="well">
		 
		 <fieldset>
		 <div class="col-md-12">
		 
		  <div class="col-md-6">
		  
			<label for="username" class="control-label">{L_USERNAME}:</label>
            <div class="input-icon left">
	         <i class="fa fa-user"></i>
			<input class="form-control" type="text" name="username" id="username" placeholder="{L_USERNAME}">
			</div>
			
			<label for="password" class="control-label">{L_PASSWORD}:</label>
            <div class="input-icon left">
	         <i class="fa fa-key"></i>
			 <input class="form-control" type="password" name="password" id="password" placeholder="{L_PASSWORD}">
			</div>
			<!-- IF S_AUTOLOGIN_ENABLED -->
			<div class="controls controls-row"> 
			 <div class="radio"><input type="checkbox" name="autologin" id="autologin"><label for="autologin">{L_LOG_ME_IN}</label></div>
			</div>
			<!-- ENDIF -->
			<button type="submit" class="btn btn-default start" id="load" name="login" value="{L_LOGIN}" data-loading-text="Logging-in... <i class='icon-spin icon-spinner icon-large icon-white'></i>">{L_LOGIN}</button>
			{S_LOGIN_REDIRECT}
		  </div>
		 
		<div class="pull-right hidden-xs">
		<div class="admin-header-head">
		    <div class="user-fxicon">
				<i class="fa fa-picture-o"></i>
		    </div>
		</div>
		</div>
		 
		 </div>
		 </fieldset>
		
     </div>
	</form>
  </div>
<!-- ENDIF -->

<div class="row">
<div class="col-md-12 statistics">
<div class="col-md-6">
<!-- IF S_DISPLAY_ONLINE_LIST and S_DISP_WHOISONLINE -->
	<!-- IF U_VIEWONLINE -->
	<div class="side-segment"><h3><a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a></h3></div><!-- ELSE --><div class="side-segment"><h3>{L_WHO_IS_ONLINE}</h3></div>
	<!-- ENDIF -->
	<p>{TOTAL_USERS_ONLINE} ({L_ONLINE_EXPLAIN})<br />{RECORD_USERS}<br /> <br />{LOGGED_IN_USER_LIST}
	<!-- IF LEGEND --><br /><small>{L_LEGEND}: {LEGEND}</small><!-- ENDIF --></p>
<!-- ENDIF -->

<!-- IF S_DISPLAY_BIRTHDAY_LIST and BIRTHDAY_LIST -->
	<div class="side-segment"><h3>{L_BIRTHDAYS}</h3></div>
	<p><!-- IF BIRTHDAY_LIST -->{L_CONGRATULATIONS}: <strong>{BIRTHDAY_LIST}</strong><!-- ELSE -->{L_NO_BIRTHDAYS}<!-- ENDIF --></p>
<!-- ENDIF -->
</div>
<div class="col-md-6">
<!-- IF TOTAL_IMAGES -->
	<div class="side-segment"><h3>{L_STATISTICS}</h3></div>
	<p>{TOTAL_IMAGES} <!-- IF TOTAL_COMMENTS -->&bull; {TOTAL_COMMENTS}<!-- ENDIF --> <!-- IF TOTAL_PGALLERIES --> &bull; {TOTAL_PGALLERIES}<!-- IF NEWEST_PGALLERIES --> &bull; {NEWEST_PGALLERIES}<!-- ENDIF --><!-- ENDIF --></p>
<!-- ENDIF -->

</div>
</div>

</div>


<!-- INCLUDE gallery/gallery_footer.html -->