<!-- IF S_INFO_CREATE -->
<form id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>
	<div class="tab-pane active">
		<fieldset class="framed-ucp">
			<legend>{L_TITLE}</legend>
			<p>{L_TITLE_EXPLAIN}</p>
			{S_HIDDEN_FIELDS}
			<button type="submit" name="submit" value="{L_CREATE_PERSONAL_ALBUM}" class="btn btn-default" autocomplete="off" data-loading-text="loading...<i class='icon-spin icon-spinner icon-large icon-white'></i>">{L_CREATE_PERSONAL_ALBUM}</button>
			{S_FORM_TOKEN}
		</fieldset>
	</div>	
</form>
<!-- ENDIF -->

<!-- IF S_CREATE_SUBALBUM || S_EDIT_SUBALBUM -->
<form id="acp_gallery" method="post" action="{U_ACTION}">
	<div class="tab-pane active">
		<fieldset class="framed-ucp">
			<legend>{L_TITLE}</legend>
			<p>{L_TITLE_EXPLAIN}</p>
	
			<!-- IF not S_PERSONAL_ALBUM -->
			<div class="control-group"> 
				<label class="control-label" for="parent_id">{L_ALBUM_PARENT}{L_COLON}</label>
				<div class="controls controls-row"> 
					<div class="selector"><select class="selectpicker" data-container="body" id="parent_id" name="parent_id">{S_PARENT_OPTIONS}</select></div>	
				</div> 
			 </div> 
	
			<div class="control-group"> 
				<label class="control-label" for="album_name">{L_ALBUM_NAME}{L_COLON}</label>
				<div class="controls controls-row"> 
					<input class="span12"  type="text" placeholder="Ex:My Album" id="album_name" name="album_name" value="{ALBUM_NAME}" maxlength="255">
				</div> 
			</div>			
			<!-- ENDIF -->
			
			<!-- IF S_AUTH_ACCESS_OPTIONS -->
			<div class="control-group"> 
				<label class="control-label" for="album_auth_access">{L_ALBUM_ACCESS}{L_COLON}</label><span class="help-block">{L_ALBUM_ACCESS_EXPLAIN}</span>
				<div class="controls controls-row"> 
					<div class="selector"><select class="selectpicker" data-container="body" id="album_auth_access" name="album_auth_access">{S_AUTH_ACCESS_OPTIONS}</select></div>	
				</div> 
			</div> 
			<!-- ENDIF -->
		
			<div class="control-group"> 
				<label class="control-label" for="album_desc">{L_ALBUM_DESC}{L_COLON}</label>
				<div class="controls controls-row"> 
					<textarea class="span12" placeholder="My School Album" rows="2" id="album_desc" name="album_desc">{ALBUM_DESC}</textarea>
					<div class="radio"><input type="checkbox" id="desc_parse_bbcode2" name="desc_parse_bbcode"<!-- IF S_DESC_BBCODE_CHECKED --> checked="checked"<!-- ENDIF --> /><label for="desc_parse_bbcode2">{L_PARSE_BBCODE}</label></div>	
					<div class="radio"><input  type="checkbox" id="desc_parse_smilies1" name="desc_parse_smilies"<!-- IF S_DESC_SMILIES_CHECKED --> checked="checked"<!-- ENDIF --> /><label for="desc_parse_smilies1">{L_PARSE_SMILIES}</label></div>
					<div class="radio"><input  type="checkbox" id="desc_parse_urls0" name="desc_parse_urls"<!-- IF S_DESC_URLS_CHECKED --> checked="checked"<!-- ENDIF --> /><label for="desc_parse_urls0">{L_PARSE_URLS}</label></div>	
				</div> 
			</div>
		</fieldset>
		
		<div class="form-actions"> 
			<button type="reset" value="{L_RESET}" name="reset" class="btn btn-default" >{L_RESET}</button>
			<button type="submit" name="submit" value="{L_SUBMIT}" class="btn btn-default" autocomplete="off" data-loading-text="loading...<i class='icon-spin icon-spinner icon-large icon-white'></i>">{L_SUBMIT}</button>
			{S_FORM_TOKEN}
		</div>
	
	</div>
</form>
<!-- ENDIF -->

<!-- IF S_MANAGE_SUBALBUMS -->
<div class="side-segment"><h3>{L_TITLE}</h3></div> 
<div class="tab-pane active">

	<p><strong>{NAVIGATION} <i class="icon-long-arrow-right"></i></strong> <!-- IF S_ALBUM --> <a class="btn btn-xs" href="{U_EDIT}" title="{L_EDIT}"><i class="icon-pencil"></i></a> <a class="btn btn-default btn-xs" href="{U_DELETE}" title="{L_DELETE}"><i class="fa fa-times"></i></a>  <a class="btn btn-default btn-xs" href="{U_GOTO}" title="{L_GOTO}"><i class="fa fa-circle-arrow-right"></i></a> <a class="btn btn-default btn-xs" href="{U_UPLOAD}" title="{L_UPLOAD_IMAGE}"><i class="fa fa-upload"></i></a> <!-- ENDIF --></p>

	<table class="footable table table-striped table-bordered table-white table-primary table-hover">
		<thead>
			<tr>
				<th class="large80" data-class="expand"><i class="fa fa-bar-chart"></i> <!-- IF .album_row -->{L_ATTACHED_SUBALBUMS}<!-- ELSEIF U_CREATE_SUBALBUM -->{L_NO_SUBALBUMS}<!-- ENDIF --></th>
				<th class="large20" data-hide="phone"><i class="fa fa-cogs"></i> Tools</th>
			</tr>
		</thead>
		<tbody>
		<!-- IF .album_row -->
			<!-- BEGIN album_row -->
			<tr>
				<td title="{album_row.ALBUM_NAME}">
					<i class="row-icon" style="background-image: url({album_row.FOLDER_IMAGE}); background-repeat: no-repeat;"></i>
					<!-- IF album_row.FORUM_IMAGE --><span class="forum-image">{album_row.FORUM_IMAGE}</span><!-- ENDIF -->
					<a href="{album_row.U_ALBUM}" class="topictitle">{album_row.ALBUM_NAME}</a><br />
					<!-- IF album_row.ALBUM_DESCRIPTION --><small>{album_row.ALBUM_DESCRIPTION}</small><!-- ENDIF -->
				</td>

				<td class="center">
					<!-- IF album_row.S_FIRST_ROW && not album_row.S_LAST_ROW -->
						<a class="btn btn-xs btn-default disabled" href="#"><i class="fa fa-sort-up"></i></a>
						<a class="btn btn-xs btn-default" href="{album_row.U_MOVE_DOWN}"><i class="fa fa-sort-down"></i></a>
					<!-- ELSEIF not album_row.S_FIRST_ROW && not album_row.S_LAST_ROW-->
						<a class="btn btn-xs btn-default" href="{album_row.U_MOVE_UP}"><i class="fa fa-sort-up"></i></a>
						<a class="btn btn-xs btn-default" href="{album_row.U_MOVE_DOWN}"><i class="fa fa-sort-down"></i></a>
					<!-- ELSEIF album_row.S_LAST_ROW && not album_row.S_FIRST_ROW -->
						<a class="btn btn-xs btn-default" href="{album_row.U_MOVE_UP}"><i class="fa fa-sort-up"></i></a>
						<a class="btn btn-xs btn-default disabled" href="#"><i class="fa fa-sort-down"></i></a>
					<!-- ELSE -->
						<a class="btn btn-xs btn-default disabled" href="#"><i class="fa fa-sort-up"></i></a>
						<a class="btn btn-xs btn-default disabled" href="#"><i class="fa fa-sort-down"></i></a>
					<!-- ENDIF -->
						<a class="btn btn-xs btn-default" href="{album_row.U_EDIT}"><i class="fa fa-pencil"></i></a>
						<a class="btn btn-xs btn-default" href="{album_row.U_DELETE}"><i class="fa fa-times"></i></a>
				</td>
			</tr>
		<!-- END album_row -->
		<!-- ENDIF -->
		</tbody>
	</table>

	<!-- IF U_CREATE_SUBALBUM -->
		<form id="albums" method="post" action="{U_CREATE_SUBALBUM}">
			<fieldset>
				<!--input type="hidden" name="action" value="add" /-->
				<button class="btn" name="addforum" type="submit" value="{L_CREATE_SUBALBUM}">{L_CREATE_SUBALBUM}</button>
				{S_FORM_TOKEN}
			</fieldset>
		</form>
	<!-- ENDIF -->
	
</div>
<!-- ENDIF -->