<form id="ucp_gallery" method="post" action="{S_UCP_ACTION}">
<div class="tab-pane active">
<fieldset class="framed-ucp">
	<legend>{L_TITLE}</legend>
	<p>{L_TITLE_EXPLAIN}</p>
	<!-- IF .album_row -->
	<table class="footable table table-striped table-bordered table-white table-primary table-hover">
		<thead>
			<tr>
				<th>{L_ALBUMS}</th>
				<th class="mark text-center">{L_LAST_IMAGE}</th>		
				<th class="mark text-center">{L_MARK}</th>
			</tr>
		</thead>
		<tbody>
			<!-- BEGIN album_row -->
			<tr>
				<td>
					<a href="{album_row.U_VIEW_ALBUM}" class="topictitle">{album_row.ALBUM_NAME}</a><br />
					<span>{album_row.ALBUM_DESC}</span>
				</td>
				<!-- IF album_row.LAST_IMAGE -->
				<td>
					<!-- IF album_row.UC_FAKE_THUMBNAIL -->
						<span>{album_row.UC_FAKE_THUMBNAIL}</span>
					<!-- ENDIF -->
					<dfn>{L_LAST_IMAGE}</dfn> {album_row.UC_IMAGE_NAME}
					{L_POST_BY_AUTHOR} {album_row.UPLOADER}<br />
					{album_row.LAST_IMAGE_TIME}
				</td>
				<!-- ENDIF -->
				<td class="mark text-center"><input data-notify="notify" type="checkbox" name="album_id_ary[]" value="{album_row.ALBUM_ID}" /><</td>
			</tr>
			<!-- END album_row -->
			<tr>
				<td>
					{L_UNSUBSCRIBE}
				</td>
				<td>
					<input type="hidden" name="action" value="unsubscribe" />
					{S_HIDDEN_FIELDS}
					{S_FORM_TOKEN}
					<input class="btn btn-default" type="submit" value="{L_SUBMIT}" />
				</td>
				<td class="mark text-center btn-noti-td">
					<div class="btn-group">
						<a class="btn btn-default" onclick="marklist('ucp_gallery', 'album_id_ary', true); return false;" title="{L_MARK_ALL}"><i class="fa fa-check-square-o"></i></a>
						<a class="btn btn-default" onclick="marklist('ucp_gallery', 'album_id_ary', false); return false;" title="{L_UNMARK_ALL}"><i class="fa fa-square-o"></i></a>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<!-- ENDIF -->
	<!-- IF .image_row -->
	<table class="footable table table-striped table-bordered table-white table-primary table-hover">
		<thead>
			<tr>
				<th>{L_IMAGES}</th>
				<th class="mark text-center">{L_LAST_COMMENT}</th>		
				<th class="mark text-center">{L_MARK}</th>
			</tr>
		</thead>
		<tbody>
			<!-- BEGIN image_row -->
			<tr>
				<td>
					<!-- IF image_row.UC_FAKE_THUMBNAIL --><span>{image_row.UC_FAKE_THUMBNAIL}</span><!-- ENDIF -->
					<dfn>{L_LAST_IMAGE}</dfn> {image_row.UC_IMAGE_NAME}<br />
					{L_UPLOADED_BY_USER} {image_row.UPLOADER}<br />
					{image_row.IMAGE_TIME}<br />
					{L_ALBUM}{L_COLON} <a href="{image_row.U_VIEW_ALBUM}" style="font-weight: bold;">{image_row.ALBUM_NAME}</a>
				</td>
				<td>
					<!-- IF image_row.COMMENT -->
					<span>{L_POST_BY_AUTHOR} {image_row.LAST_COMMENT_BY}<br />
					{image_row.LAST_COMMENT_TIME}</span>
					<!-- ELSE -->&nbsp;<!-- ENDIF -->
				</td>
				<td class="mark text-center"><input type="checkbox" name="image_id_ary[]" value="{image_row.IMAGE_ID}" /></td>	
			</tr>
			<!-- END image_row -->
			<tr>
				<td class="mark text-center">
					{L_UNSUBSCRIBE}
				</td>
				<td>
					<input type="hidden" name="action" value="unsubscribe" />
					{S_HIDDEN_FIELDS}
					{S_FORM_TOKEN}
					<input class="btn btn-default" type="submit" value="{L_SUBMIT}" />
				</td>
				<td class="mark text-center btn-noti-td">
					<div class="btn-group">
						<a class="btn btn-default" onclick="marklist('ucp_gallery', 'image_id_ary', true); return false;" title="{L_MARK_ALL}"><i class="fa fa-check-square-o"></i></a>
						<a class="btn btn-default" onclick="marklist('ucp_gallery', 'image_id_ary', false); return false;" title="{L_UNMARK_ALL}"><i class="fa fa-square-o"></i></a>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<!-- ELSE -->
		<div class="alert alert-info fade in">
			 <i class="fa fa-warning"></i>&nbsp;<strong>{L_INFO_BOX}</strong>&nbsp;{L_NO_SUBSCRIPTIONS}
		</div>
	<!-- ENDIF -->
	<!-- IF PAGINATION or TOTAL_IMAGES -->
	<div class="col-md-8"> 
		<ul class="pagination pagination-sm pull-right">
			<!-- IF TOTAL_IMAGES --> {TOTAL_IMAGES}<!-- ENDIF -->
			<!-- IF PAGE_NUMBER -->
						<!-- IF PAGINATION --> 
							&bull; <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span>
						<!-- ELSE --> &bull; {PAGE_NUMBER}
						<!-- ENDIF -->
					<!-- ENDIF -->
			</ul>
	</div>
	<!-- ENDIF -->		
</fieldset>
</div>
</form>
