<!-- INCLUDE ucp_header.html -->
<!-- IF S_PERSONAL_SETTINGS -->
<form id="ucp_gallery" method="post" action="{S_UCP_ACTION}">
<fieldset class="framed-ucp">
<legend>{L_TITLE}</legend>
		<p>{L_TITLE_EXPLAIN}</p>
		<div class="control-group"> 
			<label class="control-label" for="watch_own1">{L_WATCH_OWN}{L_COLON}</label>
			<div class="controls controls-row">
				<div class="radio"><input type="radio" name="watch_own" id="watch_own1" value="1"<!-- IF S_WATCH_OWN --> checked="checked"<!-- ENDIF --> /><label for="watch_own1"> {L_YES}</label></div>
				<div class="radio"><input type="radio" name="watch_own" id="watch_own0" value="0"<!-- IF not S_WATCH_OWN --> checked="checked"<!-- ENDIF --> /><label for="watch_own0"> {L_NO}</label></div>
			</div>	
		</div>
		<div class="control-group"> 
			<label class="control-label" for="watch_com1">{L_WATCH_COM}{L_COLON}</label>
			<div class="controls controls-row">
				<div class="radio"><input type="radio" name="watch_com" id="watch_com1" value="1"<!-- IF S_WATCH_COM --> checked="checked"<!-- ENDIF --> /><label for="watch_com1"> {L_YES}</label></div>
				<div class="radio"><input type="radio" name="watch_com" id="watch_com0" value="0"<!-- IF not S_WATCH_COM --> checked="checked"<!-- ENDIF --> /><label for="watch_com0"> {L_NO}</label></div>
			</div>	
		</div>
		<!-- EVENT gallery_ucp_settings_watch -->
		<!-- IF S_COMMENTS_ENABLED -->
		<div class="control-group"> 
			<label class="control-label" for="allow_comments1">{L_USER_ALLOW_COMMENTS}{L_COLON}</label>
			<div class="controls controls-row">
				<div class="radio"><input type="radio" name="allow_comments" id="allow_comments1" value="1"<!-- IF S_ALLOW_COMMENTS --> checked="checked"<!-- ENDIF --> /><label for="allow_comments1"> {L_YES}</label></div>
				<div class="radio"><input type="radio" name="allow_comments" id="allow_comments0" value="0"<!-- IF not S_ALLOW_COMMENTS --> checked="checked"<!-- ENDIF --> /><label for="allow_comments0"> {L_NO}</label></div>
			</div>	
		</div>
		<!-- ENDIF -->
		<!-- EVENT gallery_ucp_settings_fieldset -->
</fieldset>
<div class="space10"></div>
<!-- EVENT gallery_ucp_settings_form -->
<div class="form-actions"> 
	<button type="reset" value="{L_RESET}" name="reset" id="reset" class="btn btn-default">{L_RESET}</button>
	<button type="submit" name="submit" value="{L_SUBMIT}" class="btn btn-default">{L_SUBMIT}</button>
	{S_FORM_TOKEN}
</div>
</form>

<!-- ENDIF -->

<!-- IF S_INFO_CREATE -->
<h2>{L_TITLE}</h2>
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
	<p>{L_TITLE_EXPLAIN}</p>
	<form id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>
		<fieldset class="submit-buttons">
			{S_HIDDEN_FIELDS}
			<input type="submit" name="submit" value="{L_CREATE_PERSONAL_ALBUM}" class="button1" />
			{S_FORM_TOKEN}
		</fieldset>
	</form>
	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- ENDIF -->

<!-- IF S_CREATE_SUBALBUM || S_EDIT_SUBALBUM -->
<form id="acp_gallery" method="post" action="{U_ACTION}">
	<h2>{L_TITLE}</h2>
	<div class="panel">
		<div class="inner"><span class="corners-top"><span></span></span>
			<p>{L_TITLE_EXPLAIN}</p>
			<fieldset>
			<!-- IF not S_PERSONAL_ALBUM -->
				<dl>
					<dt><label for="parent_id">{L_ALBUM_PARENT}{L_COLON}</label></dt>
					<dd><select id="parent_id" name="parent_id">{S_PARENT_OPTIONS}</select></dd>
				</dl>
				<dl>
					<dt><label for="album_name">{L_ALBUM_NAME}{L_COLON}</label></dt>
					<dd><input class="inputbox" type="text" id="album_name" name="album_name" value="{ALBUM_NAME}" maxlength="255" /></dd>
				</dl>
			<!-- ENDIF -->
			<!-- IF S_AUTH_ACCESS_OPTIONS -->
				<dl>
					<dt><label for="album_auth_access">{L_ALBUM_ACCESS}{L_COLON}</label><br /><span>{L_ALBUM_ACCESS_EXPLAIN}</span></dt>
					<dd><select id="album_auth_access" name="album_auth_access">{S_AUTH_ACCESS_OPTIONS}</select></dd>
				</dl>
			<!-- ENDIF -->
			<dl>
				<dt><label for="album_desc">{L_ALBUM_DESC}{L_COLON}</label></dt>
				<dd><textarea class="inputbox" id="album_desc" name="album_desc" rows="5" cols="45">{ALBUM_DESC}</textarea></dd>
				<dd><label><input type="checkbox" class="radio" name="desc_parse_bbcode"<!-- IF S_DESC_BBCODE_CHECKED --> checked="checked"<!-- ENDIF --> /> {L_PARSE_BBCODE}</label>
					<label><input type="checkbox" class="radio" name="desc_parse_smilies"<!-- IF S_DESC_SMILIES_CHECKED --> checked="checked"<!-- ENDIF --> /> {L_PARSE_SMILIES}</label>
					<label><input type="checkbox" class="radio" name="desc_parse_urls"<!-- IF S_DESC_URLS_CHECKED --> checked="checked"<!-- ENDIF --> /> {L_PARSE_URLS}</label></dd>
			</dl>
			</fieldset>
		<span class="corners-bottom"><span></span></span></div>
	</div>
	<fieldset class="submit-buttons">
		<input class="button2" type="reset" id="reset" name="reset" value="{L_RESET}" />&nbsp;
		<input class="button1" type="submit" id="submit" name="submit" value="{L_SUBMIT}" />
		{S_FORM_TOKEN}
	</fieldset>
</form>
<!-- ENDIF -->

<!-- IF S_MANAGE_SUBALBUMS -->
<h2>{L_TITLE}</h2>
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
	<p><strong>{NAVIGATION}<!-- IF S_ALBUM --> [<a href="{U_EDIT}">{L_EDIT}</a> | <a href="{U_DELETE}">{L_DELETE}</a> | <a href="{U_GOTO}">{L_GOTO}</a> | <a href="{U_UPLOAD}">{L_UPLOAD_IMAGE}</a>]<!-- ENDIF --></strong></p>
	<ul class="topiclist">
		<li class="header">
			<dl class="icon">
				<dt><!-- IF .album_row -->{L_ATTACHED_SUBALBUMS}<!-- ELSEIF U_CREATE_SUBALBUM -->{L_NO_SUBALBUMS}<!-- ENDIF --></dt>
			</dl>
		</li>
	</ul>
	<!-- IF .album_row -->
	<ul class="topiclist cplist">
		<!-- BEGIN album_row -->
		<li class="row<!-- IF album_row.S_ROW_COUNT is odd --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
			<!--<dl class="icon" style="background-image: url({album_row.FOLDER_IMAGE}); background-repeat: no-repeat;"> -->
			<dl class="icon" style="background-repeat: no-repeat;">
				<dt title="{album_row.ALBUM_NAME}">
					<!-- IF album_row.FORUM_IMAGE --><div style="float: {S_CONTENT_FLOW_BEGIN}; margin-right: 5px;">{album_row.FORUM_IMAGE}</div><!-- ENDIF -->
					<a href="{album_row.U_ALBUM}" class="topictitle">{album_row.ALBUM_NAME}</a>
					<!-- IF album_row.ALBUM_DESCRIPTION --><br />{album_row.ALBUM_DESCRIPTION}<!-- ENDIF -->
				</dt>
				<dd class="mark" style="width: 120px;">
					<!-- IF album_row.S_FIRST_ROW && not album_row.S_LAST_ROW -->
						{ICON_MOVE_UP_DISABLED}
						<a href="{album_row.U_MOVE_DOWN}">{ICON_MOVE_DOWN}</a>
					<!-- ELSEIF not album_row.S_FIRST_ROW && not album_row.S_LAST_ROW-->
						<a href="{album_row.U_MOVE_UP}">{ICON_MOVE_UP}</a>
						<a href="{album_row.U_MOVE_DOWN}">{ICON_MOVE_DOWN}</a>
					<!-- ELSEIF album_row.S_LAST_ROW && not album_row.S_FIRST_ROW -->
						<a href="{album_row.U_MOVE_UP}">{ICON_MOVE_UP}</a>
						{ICON_MOVE_DOWN_DISABLED}
					<!-- ELSE -->
						{ICON_MOVE_UP_DISABLED}
						{ICON_MOVE_DOWN_DISABLED}
					<!-- ENDIF -->
					<a href="{album_row.U_EDIT}">{ICON_EDIT}</a>
					<a href="{album_row.U_DELETE}">{ICON_DELETE}</a>
				</dd>
			</dl>
		</li>
		<!-- END album_row -->
	</ul>
	<!-- ENDIF -->
	<!-- IF U_CREATE_SUBALBUM -->
		<form id="albums" method="post" action="{U_CREATE_SUBALBUM}">

			<fieldset class="quick">
				<!--input type="hidden" name="action" value="add" /-->
				<input class="button2" name="addforum" type="submit" value="{L_CREATE_SUBALBUM}" />
				{S_FORM_TOKEN}
			</fieldset>
		</form>
	<!-- ENDIF -->
	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- ENDIF -->

<!-- IF S_MANAGE_SUBSCRIPTIONS -->
<form id="ucp_gallery" method="post" action="{S_UCP_ACTION}">
<div class="tab-pane active">
<fieldset class="framed-ucp">
	<legend>{L_TITLE}</legend>
	<p>{L_TITLE_EXPLAIN}</p>
	<!-- IF .album_row -->
	<table class="footable table table-striped table-bordered table-white table-primary table-hover">
		<thead>
			<tr>
				<th>{L_ALBUMS}</th>
				<th class="mark text-center">{L_LAST_IMAGE}</th>		
				<th class="mark text-center">{L_MARK}</th>
			</tr>
		</thead>
		<tbody>
			<!-- BEGIN album_row -->
			<tr>
				<td>
					<a href="{album_row.U_VIEW_ALBUM}" class="topictitle">{album_row.ALBUM_NAME}</a><br />
					<span>{album_row.ALBUM_DESC}</span>
				</td>
				<!-- IF album_row.LAST_IMAGE -->
				<td>
					<!-- IF album_row.UC_FAKE_THUMBNAIL -->
						<span>{album_row.UC_FAKE_THUMBNAIL}</span>
					<!-- ENDIF -->
					<dfn>{L_LAST_IMAGE}</dfn> {album_row.UC_IMAGE_NAME}
					{L_POST_BY_AUTHOR} {album_row.UPLOADER}<br />
					{album_row.LAST_IMAGE_TIME}
				</td>
				<!-- ENDIF -->
				<td class="mark text-center"><input data-notify="notify" type="checkbox" name="album_id_ary[]" value="{album_row.ALBUM_ID}" /><</td>
			</tr>
			<!-- END album_row -->
			<tr>
				<td>
					{L_UNSUBSCRIBE}
				</td>
				<td>
					<input type="hidden" name="action" value="unsubscribe" />
					{S_HIDDEN_FIELDS}
					{S_FORM_TOKEN}
					<input class="btn btn-default" type="submit" value="{L_SUBMIT}" />
				</td>
				<td class="mark text-center btn-noti-td">
					<div class="btn-group">
						<a class="btn btn-default" onclick="marklist('ucp_gallery', 'album_id_ary', true); return false;" title="{L_MARK_ALL}"><i class="fa fa-check-square-o"></i></a>
						<a class="btn btn-default" onclick="marklist('ucp_gallery', 'album_id_ary', false); return false;" title="{L_UNMARK_ALL}"><i class="fa fa-square-o"></i></a>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<!-- ENDIF -->
	<!-- IF .image_row -->
	<table class="footable table table-striped table-bordered table-white table-primary table-hover">
		<thead>
			<tr>
				<th>{L_IMAGES}</th>
				<th class="mark text-center">{L_LAST_COMMENT}</th>		
				<th class="mark text-center">{L_MARK}</th>
			</tr>
		</thead>
		<tbody>
			<!-- BEGIN image_row -->
			<tr>
				<td>
					<!-- IF image_row.UC_FAKE_THUMBNAIL --><span>{image_row.UC_FAKE_THUMBNAIL}</span><!-- ENDIF -->
					<dfn>{L_LAST_IMAGE}</dfn> {image_row.UC_IMAGE_NAME}<br />
					{L_UPLOADED_BY_USER} {image_row.UPLOADER}<br />
					{image_row.IMAGE_TIME}<br />
					{L_ALBUM}{L_COLON} <a href="{image_row.U_VIEW_ALBUM}" style="font-weight: bold;">{image_row.ALBUM_NAME}</a>
				</td>
				<td>
					<!-- IF image_row.COMMENT -->
					<span>{L_POST_BY_AUTHOR} {image_row.LAST_COMMENT_BY}<br />
					{image_row.LAST_COMMENT_TIME}</span>
					<!-- ELSE -->&nbsp;<!-- ENDIF -->
				</td>
				<td class="mark text-center"><input type="checkbox" name="image_id_ary[]" value="{image_row.IMAGE_ID}" /></td>	
			</tr>
			<!-- END image_row -->
			<tr>
				<td class="mark text-center">
					{L_UNSUBSCRIBE}
				</td>
				<td>
					<input type="hidden" name="action" value="unsubscribe" />
					{S_HIDDEN_FIELDS}
					{S_FORM_TOKEN}
					<input class="btn btn-default" type="submit" value="{L_SUBMIT}" />
				</td>
				<td class="mark text-center btn-noti-td">
					<div class="btn-group">
						<a class="btn btn-default" onclick="marklist('ucp_gallery', 'image_id_ary', true); return false;" title="{L_MARK_ALL}"><i class="fa fa-check-square-o"></i></a>
						<a class="btn btn-default" onclick="marklist('ucp_gallery', 'image_id_ary', false); return false;" title="{L_UNMARK_ALL}"><i class="fa fa-square-o"></i></a>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<!-- ELSE -->
		<div class="alert alert-info fade in">
			 <i class="fa fa-warning"></i>&nbsp;<strong>{L_INFO_BOX}</strong>&nbsp;{L_NO_SUBSCRIPTIONS}
		</div>
	<!-- ENDIF -->
	<!-- IF PAGINATION or TOTAL_IMAGES -->
	<div class="col-md-8"> 
		<ul class="pagination pagination-sm pull-right">
			<!-- IF TOTAL_IMAGES --> {TOTAL_IMAGES}<!-- ENDIF -->
			<!-- IF PAGE_NUMBER -->
						<!-- IF PAGINATION --> 
							&bull; <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span>
						<!-- ELSE --> &bull; {PAGE_NUMBER}
						<!-- ENDIF -->
					<!-- ENDIF -->
			</ul>
	</div>
	<!-- ENDIF -->		
</fieldset>
</div>
</form>
</div>
<div class="space10"></div>
<!-- ENDIF -->

<!--
	I request you retain the full copyright notice below including the link to www.flying-bits.org.
	This not only gives respect to the large amount of time given freely by the developer
	but also helps build interest, traffic and use of phpBB Gallery. If you (honestly) cannot retain
	the full copyright I ask you at least leave in place the "Powered by phpBB Gallery" line, with
	"phpBB Gallery" linked to www.flying-bits.org. If you refuse to include even this then support on my
	forums may be affected.

	phpBB Gallery, nickvergessen : 2009
//-->
<div class="copyright">
	Powered by <a href="http://www.flying-bits.org/">phpBB Gallery</a> &copy; 2007, 2009 <a href="http://www.flying-bits.org/">nickvergessen</a>
	<!-- IF GALLERY_TRANSLATION_INFO --><br />{GALLERY_TRANSLATION_INFO}<!-- ENDIF -->
</div>
<!-- INCLUDE ucp_footer.html -->