<!-- IF S_PERSONAL_SETTINGS -->
<form id="ucp_gallery" method="post" action="{S_UCP_ACTION}">
	<div class="tab-pane active">
	<fieldset class="framed-ucp">
		<legend>{L_TITLE}</legend>
		<p>{L_TITLE_EXPLAIN}</p>
			
		<div class="control-group"> 
		<label class="control-label" for="watch_own1">{L_WATCH_OWN}{L_COLON}</label>
		<div class="controls controls-row"> 
			<div class="radio"><input type="radio" name="watch_own" id="watch_own1" value="1"<!-- IF S_WATCH_OWN --> checked="checked"<!-- ENDIF --> /><label for="watch_own1">{L_YES}</label></div>   
			<div class="radio"><input type="radio" name="watch_own" id="watch_own0" value="0"<!-- IF not S_WATCH_OWN --> checked="checked"<!-- ENDIF --> /><label for="watch_own0">{L_NO}</label></div>
		</div> 
		</div> 
		
		<div class="control-group"> 
		<label class="control-label" for="watch_com1">{L_WATCH_COM}{L_COLON}</label>
		<div class="controls controls-row"> 
			<div class="radio"><input type="radio" name="watch_com" id="watch_com1" value="1"<!-- IF S_WATCH_COM --> checked="checked"<!-- ENDIF --> /><label for="watch_com1">{L_YES}</label></div>   
			<div class="radio"><input type="radio" name="watch_com" id="watch_com0" value="0"<!-- IF not S_WATCH_COM --> checked="checked"<!-- ENDIF --> /><label for="watch_com0">{L_NO}</label></div>
		</div> 
		</div> 
		
		<div class="control-group"> 
		<label class="control-label" for="watch_favo1">{L_WATCH_FAVO}{L_COLON}</label>
		<div class="controls controls-row"> 
			<div class="radio"><input type="radio" name="watch_favo" id="watch_favo1" value="1"<!-- IF S_WATCH_FAVO --> checked="checked"<!-- ENDIF --> /><label for="watch_favo1">{L_YES}</label></div>   
			<div class="radio"><input type="radio" name="watch_favo" id="watch_favo0" value="0"<!-- IF not S_WATCH_FAVO --> checked="checked"<!-- ENDIF --> /><label for="watch_favo0">{L_NO}</label></div>
		</div> 
		</div> 

		<!-- EVENT gallery_ucp_settings_watch -->
		
		<!-- IF S_COMMENTS_ENABLED -->
		<div class="control-group"> 
		<label class="control-label" for="allow_comments1">{L_USER_ALLOW_COMMENTS}{L_COLON}</label>
		<div class="controls controls-row"> 
			<div class="radio"><input type="radio" name="allow_comments" id="allow_comments1" value="1"<!-- IF S_ALLOW_COMMENTS --> checked="checked"<!-- ENDIF --> /><label for="allow_comments1">{L_YES}</label></div>   
			<div class="radio"><input type="radio" name="allow_comments" id="allow_comments0" value="0"<!-- IF not S_ALLOW_COMMENTS --> checked="checked"<!-- ENDIF --> /><label for="allow_comments0">{L_NO}</label></div>
		</div> 
		</div> 
		<!-- ENDIF -->

		<!-- EVENT gallery_ucp_settings_fieldset -->
	
	</fieldset>
	
	<div class="space10"></div>
	
	<!-- EVENT gallery_ucp_settings_form -->

	<div class="form-actions"> 
		<button type="reset" value="{L_RESET}" name="reset" id="reset" class="btn btn-default">{L_RESET}</button>
		<button type="submit" name="submit" value="{L_SUBMIT}" class="btn btn-default" autocomplete="off" data-loading-text="loading...<i class='icon-spin icon-spinner icon-large icon-white'></i>">{L_SUBMIT}</button>
		{S_FORM_TOKEN}
	</div>
	</div>
</form>
<!-- ENDIF -->