<form id="ucp_gallery" method="post" action="{S_UCP_ACTION}">
<div class="tab-pane active">
<fieldset class="framed-ucp">
	<legend>{L_TITLE}</legend>
	<p>{L_TITLE_EXPLAIN}</p>
	<!-- IF S_MANAGE_SUBSCRIPTIONS -->
		<!-- IF .album_row -->
		<table class="footable table table-striped table-bordered table-white table-primary table-hover">
			<thead>
				<tr>
				  <th data-class="expand"><i class="fa fa-list-ol"></i> {L_ALBUMS}</th>
				  <th class="large80" data-hide="phone"><i class="fa fa-bar-chart"></i> {L_LAST_IMAGE}</th>
			      <th class="large20" data-hide="phone"><i class="fa fa-comments-alt"></i> {L_MARK}</th>
				</tr>
			</thead>
			<tbody>	
			<!-- BEGIN album_row -->
			<tr <!-- IF album_row.S_REPORTED -->class="reported"<!-- ENDIF -->>
				<td>
					<a href="{album_row.U_VIEW_ALBUM}" class="topictitle">{album_row.ALBUM_NAME}</a><br />
					<small>{album_row.ALBUM_DESC}</small>
				</td>
					
				<!-- IF album_row.LAST_IMAGE -->
				<td class="center">
					<!-- IF album_row.UC_FAKE_THUMBNAIL -->
						<span class="fake-thumb thumbnail">{album_row.UC_FAKE_THUMBNAIL}</span>
					<!-- ENDIF -->
					<i class="fa fa-user"></i> {L_LAST_IMAGE}{L_COLON} {album_row.UC_IMAGE_NAME}<br />
					<i class="fa fa-user"></i> {L_POST_BY_AUTHOR} {album_row.UPLOADER}<br />
					<i class="fa fa-clock-o"></i> {album_row.LAST_IMAGE_TIME}
				</td>
			    <!-- ENDIF -->
				<td class="center">
					<input data-notify="notify" type="checkbox" name="album_id_ary[]" value="{album_row.ALBUM_ID}" />
				</td>
		    </tr>	
			<!-- END album_row -->
			</tbody>
        </table>
        <div class="btn-group">
			<a class="btn btn-sm btn-default" href="#" onclick="marklist('ucp_gallery', 'image_id_ary', true); return false;">{L_MARK_ALL}</a>
			<a class="btn btn-sm btn-default" href="#" onclick="marklist('ucp_gallery', 'image_id_ary', false); return false;">{L_UNMARK_ALL}</a>
		</div>
        <div class="clearfix">
		<fieldset>
		<div class="input-group col-md-6">	
			<select class="selectpicker" data-container="body" name="action">
				<option value="" selected="selected">{L_CHOOSE_ACTION}</option>
				<!-- IF S_MANAGE_FAVORITES -->
					<option value="remove_favorite">{L_REMOVE_FROM_FAVORITES}</option>
				<!-- ELSE -->
					<option value="unsubscribe">{L_UNSUBSCRIBE}</option>
				<!-- ENDIF -->
			</select>
			<span class="input-group-btn">	
				<button class="btn btn-default" type="submit" value="{L_SUBMIT}">{L_SUBMIT}</button>
		 </span>
		</div> 
		</fieldset>
		</div>
		<!-- ENDIF -->
	<!-- ENDIF -->

	<!-- IF .image_row -->
		<table class="footable table table-striped table-bordered table-white table-primary table-hover">
			<thead>
				<tr>
				  <th data-class="expand"><i class="fa fa-list-ol"></i> {L_IMAGES}</th>
				  <!-- IF not S_MANAGE_FAVORITES -->
				  <th class="" data-hide="phone"><i class="fa fa-bar-chart"></i> {L_LAST_COMMENT}</th>
			      <!-- ENDIF -->
				</tr>
			</thead>
			<tbody>	
			<!-- BEGIN image_row -->	
				<tr <!-- IF image_row.S_REPORTED -->class="reported"<!-- ENDIF -->>
					<td>
						<!-- IF image_row.UC_FAKE_THUMBNAIL --><span class="fake-thumb thumbnail">{image_row.UC_FAKE_THUMBNAIL}</span><!-- ENDIF -->
						<i class="fa fa-picture-o"></i> {L_LAST_IMAGE}{L_COLON} {image_row.UC_IMAGE_NAME}<br />
						<i class="fa fa-upload"></i> {L_UPLOADED_BY_USER} {image_row.UPLOADER}<br />
						<i class="fa fa-clock-o"></i> {image_row.IMAGE_TIME}<br />
					    <i class="fa fa-folder"></i> {L_ALBUM}{L_COLON} <a href="{image_row.U_VIEW_ALBUM}" style="font-weight: bold;">{image_row.ALBUM_NAME}</a>
					   <div class="feed-icon-forum"><span><input id="{image_row.IMAGE_ID}" name="image_id_ary[]" value="{image_row.IMAGE_ID}" type="checkbox" class="uniform"><label for="{image_row.IMAGE_ID}"></label></span></div>
					</td>
						
					<!-- IF not S_MANAGE_FAVORITES and image_row.COMMENT -->
					<td class="center">
						<i class="fa fa-user"></i> {L_POST_BY_AUTHOR} {image_row.LAST_COMMENT_BY}<br />
						<i class="fa fa-clock"></i> {image_row.LAST_COMMENT_TIME}
					</td>
					<!-- ELSE -->
					<td class="center"><span></span></td>
				    <!-- ENDIF -->
	
					
			    </tr>	
		    <!-- END image_row -->
			</tbody>
		</table>
		<div class="btn-group">
			<a class="btn btn-sm btn-default" href="#" onclick="marklist('ucp_gallery', 'image_id_ary', true); return false;">{L_MARK_ALL}</a>
			<a class="btn btn-sm btn-default" href="#" onclick="marklist('ucp_gallery', 'image_id_ary', false); return false;">{L_UNMARK_ALL}</a>
		</div>
        <div class="clearfix">
		<fieldset>
		<div class="input-group col-md-6">	
			<select class="selectpicker" data-container="body" name="action">
				<option value="" selected="selected">{L_CHOOSE_ACTION}</option>
				<!-- IF S_MANAGE_FAVORITES -->
					<option value="remove_favorite">{L_REMOVE_FROM_FAVORITES}</option>
				<!-- ELSE -->
					<option value="unsubscribe">{L_UNSUBSCRIBE}</option>
				<!-- ENDIF -->
			</select>
			<span class="input-group-btn">	
				<button class="btn btn-default" type="submit" value="{L_SUBMIT}">{L_SUBMIT}</button>
		 </span>
		</div> 
		</fieldset>
		</div>
		<!-- ELSE -->
		<div class="alert alert-info fade in">
			<i class="fa fa-warning"></i>&nbsp;<strong>{L_INFO_BOX}</strong>&nbsp;<!-- IF S_MANAGE_FAVORITES -->{L_NO_FAVORITES}<!-- ELSE -->{L_NO_SUBSCRIPTIONS}<!-- ENDIF -->
		</div>
	<!-- ENDIF -->
	
	<!-- IF PAGINATION or TOTAL_IMAGES -->
      <ul class="pagination pagination-sm pull-right">
	   <!-- IF TOTAL_IMAGES --><li class="active"><a>{TOTAL_IMAGES}</a></li><!-- ENDIF -->
	   <!-- IF PAGE_NUMBER --><!-- IF PAGINATION --><li><a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a></li> {PAGINATION}<!-- ELSE --><li><a>{PAGE_NUMBER}</a></li><!-- ENDIF --><!-- ENDIF -->
	 </ul>
							
	<!-- ENDIF -->
	</form>
</div>